form {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96vw;
}

form > * {
  width: 50%;
}

h3 {
  margin-bottom: 4vh;
  font-size: 2rem;
}

.submit-btn {
  display: flex;
  align-items: center;
  max-width: 10vw;
}
